<html>
  <head>

  </head>
  <body>

    <header id="header">
          <div id="logo">
             <img src="https://www.google.co.in/imgres?imgurl=https%3A%2F%2Fwww.bestdirectory.co.za%2Fsites%2Fbestdirectory.co.za%2Ffiles%2Fbusiness_listings%2Flogos_main_image%2F4177%2Ffull_logo_colour.png&imgrefurl=https%3A%2F%2Fwww.bestdirectory.co.za%2Fprice-spy-pty-ltd-general-merchandise-shopping-in-gauteng.html&docid=rFwjm9xDsJfiEM&tbnid=hIoHi76hqYWVJM%3A&vet=10ahUKEwiPmr6U7f_aAhXDE5QKHT7PCF4QMwg2KAMwAw..i&w=2879&h=807&safe=active&bih=540&biw=1280&q=transparent%20spyprice&ved=0ahUKEwiPmr6U7f_aAhXDE5QKHT7PCF4QMwg2KAMwAw&iact=mrc&uact=8">
          </div> 
    </header>

  </body>
</html>
